@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet');
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #464646;
  font-family: "Outfit", sans-serif;
}